
@{
    ViewData["Title"] = "Quote Added";
}

<h2>Your quote has been added to the list!</h2>

<div>
    <a type="button" class="btn btn-primary btn-sm" asp-controller="Home" asp-action="Index">Return Home</a><br /><br />
</div>