
@{
    ViewData["Title"] = "Deletion Confirmation";
}

@model QuoteResponse

<h2>Confirm Deletion</h2>
<h3>Are you Sure you want to delete the record from ""@Model.Author"?</h3>

<form method="post" asp-action="Delete">

    <button type="submit">Delete</button>
    <a asp-controller="Home" asp-action="QuoteDetails" class="btn btn-primary">Cancel</a>

    <input type="hidden" asp-for="QuoteId" />
</form>
<link href="~/css/site.css" rel="stylesheet" />