@{
    ViewData["Title"] = "Add a Quote";
}

@model QuoteResponse
<h1>@ViewData["Title"]</h1>

<p>Add your quote using this form.</p>

<div>
    <form method="post">

        <div asp-validation-summary="All"></div>


        <label asp-for="Quote">Quote:</label>
        <input asp-for="Quote" /> <br />

        <label asp-for="Author">Author:</label>
        <input asp-for="Author" /> <br />

        <label asp-for="Date">Date:</label>
        <input asp-for="Date" /> <br />

        <label asp-for="Subject">Subject:</label>
        <input asp-for="Subject" /> <br />

        <label asp-for="Citation">Citation:</label>
        <input asp-for="Citation" /> <br />




        <button type="submit">Submit</button>

    </form>

    <link href="~/css/site.css" rel="stylesheet" />
</div>